@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }
  
.App {
  text-align: center;
}
.books{
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}
.category{
  list-style: none;
}
.category:hover{
  list-style: none;
}


